*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(234, 241, 241);
}

h1{
    text-align: center;
    font-size: 150px;
    box-shadow: 2px 2px 5px rgb(11, 11, 11);
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: darkgray;
    align-items: center;
}

.nav a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition:  background-color 1s ease
}

.nav a:hover{
    background-color: rgba(152, 167, 180, 0.916);
    padding: 1px 2px 1px 2px;
    border-radius: 15px;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 90%;
    background-color: whitesmoke;
    margin: 0 auto;
}
.contenedor .contenedor-tarjetas{
    width: 325px;
    height: 425px;
    background-color: rgb(168, 168, 255);
    margin-top: 10px;
    border-radius: 20px;
}

img{
    width: 13rem;
    height: 18rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 60px;
}

p{
    margin-top: 10px;
    width: 100%;
    height: 3%;
    text-align: center;
    margin: 0 auto;
    font-family: var(--fuente-principal);
}
