*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(234, 241, 241);
}
.nose {
    background-image: url(../img/blurry-image-dining-table-full-260nw-2669433731.webp);
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgb(11, 11, 11);
    width: 100%;            
    height: 140px;         
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

h1 {
    margin: 0;              
    font-size: 80px;        
    color: white;            
    text-align: center;
}

.nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: darkgray;
    align-items: center;
}

.nav a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition:  background-color 1s ease
}

.nav a:hover{
    background-color: rgba(152, 167, 180, 0.916);
    padding: 1px 2px 1px 2px;
    border-radius: 15px;
}

.contenedor-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
     overflow: hidden;
}
.login{
    width: 35%;
    height: 65vh;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.login .anny{
    text-align: center;
    font-size: 2.3rem;
    font-family: "Rock Salt", cursive;
    color: rgb(94, 94, 219);
    text-shadow: 2px 2px 4px rgb(40, 53, 53);
    border-bottom: 1px solid rgb(216, 216, 216);
}
.contenedor-campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    row-gap: 30px;
    width: 90%;
    height: 25vh;
    margin: 0 auto;
}

.contenedor-campos div{
    width: 90%;
    height: 90%;
}
.contenedor-campos div input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgba(128, 128, 128, 0.536);
    transition: transform 0.5s ease;
}
.contenedor-campos input:hover{
    border-bottom: 1px solid cyan;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
a.link{
    margin-top: 20px;
    font-family: "Rock Salt", cursive;
    color: rgb(165, 151, 151);
    font-size: 16px;

}
a{
    margin-left: 20px;
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 50px;
}
.boton{
    margin-left: 150px;
    width: 125px;
    height: 50px;
}
.boton a button{
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 130);
    color: aliceblue;
    border-radius: 999px;
}

/* estiilos de regresar */
.back{
    margin-top: 17px;
    background-color: rgb(83, 83, 128);
    color: white;
    padding: 6px;
    border-radius: 11px;
    transition: transform 1s ease;
}
.back:hover{
    background-color: rgb(95, 166, 166);
    transform: scale(1.2);
    transition: transform 1s ease;
}
@media(min-width:390px){
    .contenedor-login{
        display: grid;
        margin-left: 40px;
        grid-template-columns: repeat(1, 1fr) ;
    
     .login{
     width: 85%;
     height: 70vh;
     background: blur(5px);
     border-radius: 25px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
     .boton{
        margin-top: 90px;
        margin-left: 50px;
     }
     .back{
        margin-top: 40px;
        margin-left: 20px;
     }
    }
}
@media(min-width:768px){
    .contenedor-login{
        display: grid;
        margin-left: 90px;
        grid-template-columns: repeat(1, 1fr) ;
        overflow: hidden;
    
     .login{
     width: 85%;
     height: 55vh;
     background: blur(5px);
     border-radius: 25px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      overflow: hidden;
     }
        .boton{
        margin-top: 30px;
        margin-left: 200px;
     }
     .back{
        margin-left: 20px;
     }
    }
    }

@media(min-width:1200px){
    .contenedor-login{
        display: grid;
        margin-left: 170px;
        grid-template-columns: repeat(1, 1fr) ;
    
     .login{
     width: 85%;
     height: 60vh;
     background: blur(5px);
     border-radius: 25px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
        .boton{
        margin-top: 9px;
        margin-left: 480px;
     }
    }
}


.search input{
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px white;
}

span{
    color: white;
}

