*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(234, 241, 241);
}

h1{
    text-align: center;
    font-size: 150px;
    box-shadow: 2px 2px 5px rgb(11, 11, 11);
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: darkgray;
    align-items: center;
}

.nav a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition:  background-color 1s ease
}

.nav a:hover{
    background-color: rgba(152, 167, 180, 0.916);
    padding: 1px 2px 1px 2px;
    border-radius: 15px;
}

input{
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px white;
}

.texto{
    background-color: yellow;
    margin-top: 50px;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
}

.texto h2{
    text-align: center;
    color: black;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 90%;
    background-color: transparent;
    margin-top: 70px;
    margin: 20px auto;
}

@media (max-width: 844px){
    .texto{
        margin-left: 50px;
        margin-right: 50px;
        background-color: yellow;
    }
    
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width:768px){
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:1200px){
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
    }

    .contenedor-caja:hover{
    transition: transform 1s ease;
    transform: scale(1.05);
}
}
.contenedor .contenedor-caja{
    width: 325px;
    height: 425px;
    background-color: rgb(218, 218, 218);
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    transition: transform 1s ease;
    
}

.contenedor-caja img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 15px;
}

.search input{
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px white;
}

span{
    color: white;
}

.contenedor-caja p{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
}

.contenedor-caja button{
    width: 50%;
    height: 40px;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    margin-left: 90px;
    margin-top: 30px;
    box-shadow: 10px 10px 10px grey;
}

.contenedor-caja button:hover{
    background-color: rgb(255, 208, 0);
    box-shadow: 10px 10px 10px black;
}