*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(234, 241, 241);
    box-sizing: border-box;
    overflow-x: hidden;
}

h1{
    text-align: center;
    font-size: 150px;
    box-shadow: 2px 2px 5px rgb(11, 11, 11);
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: darkgray;
    align-items: center;
}

.nav a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition:  background-color 1s ease
}

.nav a:hover{
    background-color: rgba(152, 167, 180, 0.916);
    padding: 1px 2px 1px 2px;
    border-radius: 15px;
}

.tex{
    width: 300px;
    height: 30px;
    padding: 10px;
    background-color: yellow;
    color: gray;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 550px;
    box-shadow: 10px 10px 10px grey;
}

.contenedor2{
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 25px;
    padding: 25px;
}

.contenedor2 .contenedor-caja1{
    background-color: rgb(218, 218, 218);
    width: 290px;
    height: 405px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px  gray;
}
.search input{
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px white;
}

span{
    color: white;

}


.contenedor2 .contenedor-caja1 img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 40px;
}

.contenedor-caja1 p{
    padding: 13px;
    font-size: 20px;
    color: gray;
    margin-left: 10px;
}

.contenedor-caja1 h4{
    width: 45%;
    height: 25px;
    background-color: yellow;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    color: black;
}

.contenedor-caja1 img:hover{
    transform: scale(1.1);
    transition: transform 1s ease;
}

.contenedor-caja1:hover{
    transform: scale(1.1);
    transition: transform 1s ease;
}

@media(min-width:390px){
    .contenedor2{
       display: grid;
       margin-left: 40px;
       grid-template-columns: repeat(1, 1fr);

       .contenedor-caja1{
        width: 65%;
        height: 56vh;
        margin-left: -15px;
        background: blur(5px);
        border-radius: 25px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
       }
       .contenedor-caja1 img{
    
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 20px;
       }
       .contenedor-caja1 img:hover{
  
     transform: none;
     transition: none
     }
     .contenedor-caja1:hover{
     transform: none;
     transition: none;
     }
    }
}
.tex{
    width: 300px;
    height: 30px;
    padding: 10px;
    background-color: yellow;
    color: gray;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 550px;
    box-shadow: 10px 10px 10px grey;
}

@media(min-width:768px){
    .tex{
        margin-left: 220px;
    }
    .contenedor2{
       display: grid;
       margin-left: 90px;
       grid-template-columns: repeat(1, 1fr);
     
       .contenedor-caja1{
        width: 65%;
        height: 43vh;
        margin-left: 10px;
        background: blur(5px);
        border-radius: 25px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
        transition: transform 1s ease;
       }
       .contenedor-caja1 img{
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 140px;
        transition: transform 1s ease;
       }
       .contenedor-caja1 img:hover{
     transform: scale(1.1);
     transition: transform 1s ease;
     }

     .contenedor-caja1:hover{
    transform: scale(1.1);
     transition: transform 1s ease;
     }
     

    }
}


@media(min-width:1200px){
    .tex{
        margin-left: 550px;
    }
    .contenedor2{
       display: grid;
       margin-left: 170px;
       grid-template-columns: repeat(1, 1fr);

       .contenedor-caja1{
        width: 85%;
        height: 60vh;
        margin-left: -6%;
        background: blur(5px);
        border-radius: 25px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
        transition: transform 1s ease;
       }
       .contenedor-caja1 img:hover{
     transform: scale(1.1);
     transition: transform 1s ease;
     }

     .contenedor-caja1:hover{
    transition: transform 1s ease;
     }
    }
}